
.conv-list-container{
  width: 60%;
}

.conv-list-row{
  background-color: white;
  color: darkgray;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid gray;
}

.conv-list-row:hover{
  background-color: lightblue;
  cursor: pointer;
}

.conv-list-ops-row{
  display: flex;
  justify-content: flex-end;
}

.new-button{
  color: white;
  font-size: 1rem;
  background-color: green;
  height: 2rem;
  width: 4rem;
  margin-bottom: 1rem;
}

.star-button{
  background-color: yellow;
}

.delete-button{
  background-color: red;
}

.conv-container{
  background: white;
  width: 70%;
  height: auto;
  color: gray;
}

.conv-label-row{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: .5rem;
}

.conv-label-column{
  margin-right: 2rem;
}

.conv-border{
  border-bottom: 2px solid lightgrey;
  width: 80%;
  height: 0px;
  margin-left: 3.5rem;
}

.conv-row{
  text-align: left;
  padding: 1rem;
  color: black; 
}

.conv-input{
  width: 100%;
  height: 40vh;
  resize: none;
}

.conv-operations-row{
  text-align: right;
  padding-right: .5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(45deg,#1e3c72,#2a5298);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


